
#imghead{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
}
nav{
    margin: 0.5rem;
    padding: 1.0rem;
    display: flexbox;
    align-items: center;
    text-align: center;
    
}

ul{
    list-style: none;
}


body{
    background:lightseagreen;
    margin: 0.5rem;
}