.caja{
    width: 50vw;
    height: 100vh;
    display: inline;
    align-self: center;
    padding: 25px;
}

.caja-1{
    display: block;
    background: black;
    align-self: center;
    align-items: center;
}

.caja-2{
    display: block;
    background: black;
    align-self: center;
    align-items: center;
}
