.caja{
    width: 25vw;
    height: 25vh;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 25px;
    background: black;
}

.caja-1{
    display: block;
    align-self: center;
    justify-content: center;
    
}

.caja-2{
    display: block;
    align-self: center;
    
}
.caja-3{
    display: block;
    
    align-self: center;
    
}
.caja-4{
    display: block;
    
    align-self: center;
    
}
.caja-5{
    display: block;
    
    align-self: center;
    
}