#Eq{
    color: aqua;
}
#transp{
    color:rgb(50,100,250);
}
#Excen{
    color: rgba(50, 150, 200, 11);
}
#Pertin{
    color:rgb(25, 21,250);
}
#Respon{
    color:aquamarine;
}
h1{
    color: purple;
}
